body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.container {
    width:500px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
}

.validationMessage {
    color: Red;
}

.padLeft {
    padding-left:20px;
}