body {
    text-align: center;
}

div.package-list { /*listing og all packages*/
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

    div.package-list span {
        display: inline-block;
        padding: 0 40px;
        color: gray;
        text-decoration: none;
        font: 20px Helvetica;
        line-height: 32px;
    }

        div.package-list span:hover, div.package-list span.current {
            color: blue;
            cursor: pointer;
        }

.package-content { /* diamond with package contents */
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 600px;
    height: 600px;
}

    .package-content .item0 {
        left: 25%;
        top: 50%;
        margin: -30px;
    }

    .package-content .item1 {
        left: 50%;
        top: 75%;
        margin: -30px;
    }

    .package-content .item2 {
        left: 50%;
        top: 25%;
        margin: -30px;
    }

    .package-content .item3 {
        left: 75%;
        top: 50%;
        margin: -30px;
    }

.circleEnabled {
    background: rgb(77, 67, 213);
}

.circleDisabled {
    background: rgb(165, 165, 167);
}

.circlePackage {
    position: absolute;
    text-align: center;
    border-radius: 50%;
    background: rgb(53, 52, 57);
    color: white;
    width: 150px;
    height: 150px;
    cursor: default;
    line-height: 150px;
    font-family: Helvetica;
    left: 50%;
    top: 50%;
    margin: -75px;
}

.circleBase {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: bold;
    color: #fff;
}

    .circleBase:before {
        content: '';
        font-weight: bold;
        font-family: Helvetica;
        text-align: center;
        color: #fff;
    }

    .circleBase:hover p {
        display: block;
        transform-origin: 0% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }

    .circleBase p { /* The tooltip */
        display: none;
        text-align: left;
        background-color: #b8c0e3;
        padding: 20px;
        width: 100px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        left: 65px;
        top: -12px;
        color: #322828;
        font-size: 13px;
        font-family: Helvetica;
        line-height: 1.4;
    }

        .circleBase p:before { /* The pointer of the tooltip */
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-right-color: #b8c0e3;
            left: -12px;
            top: 28px;
        }

        .circleBase p:after { /* Prevents the tooltip from being hidden */
            width: 100%;
            height: 40px;
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
        }

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}
